BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Never
ColumnLimit: 120
BreakBeforeBraces: Allman 
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: true
SpacesInParentheses: false
SpacesInSquareBrackets: false
